# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runServer
runServer/mods/[帕秋莉手册]Patchouli-1.0-21.jar
runServer/mods/[帕秋莉手册]Patchouli-1.0-21.jar
runServer/mods/[物品查看器]jei_1.12.2-4.15.0.289.jar
